In [461]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [462]:
df = pd.read_csv('Downloads/Demo Cancellation Data - Data.csv')

In [463]:
df.head()

,Request Date,Full Name,What is the reason for Demo Cancellation?,Date of Demo,Slot no,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,13-05-2021 12:31,Shaikh Faisal,Emergency.,13-05-2021,14,NaN,NaN,NaN,NaN,NaN,NaN
1,13-05-2021 12:57,Jyoti Singh,Power failure,13-05-2021,"11, 12, 13, 14",NaN,NaN,NaN,NaN,NaN,NaN
2,13-05-2021 13:25,Jyoti kusalapur,"Sick , so have taken leave for entire day on M...",13-05-2021,"11 , 12, 13, 17",NaN,NaN,NaN,NaN,NaN,NaN
3,14-05-2021 00:03,Nidhi Puthran,Appointment with orthodontist,14-05-2021,11,NaN,NaN,NaN,NaN,NaN,NaN
4,14-05-2021 12:03,Sasikala K,Health issues. Going to hospital,14-05-2021,"2-3pm,3-4pm",NaN,NaN,NaN,NaN,NaN,NaN

In [464]:
df.shape

(399, 11)

In [465]:
df.size

4389

In [466]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Request Date                                399 non-null    object
 1   Full Name                                   399 non-null    object
 2   What is the reason for Demo Cancellation?   399 non-null    object
 3   Date of Demo                                399 non-null    object
 4   Slot no                                     399 non-null    object
 5   Unnamed: 5                                  3 non-null      object
 6   Unnamed: 6                                  3 non-null      object
 7   Unnamed: 7                                  3 non-null      object
 8   Unnamed: 8                                  3 non-null      object
 9   Unnamed: 9                                  3 non-null      object
 10  Unnamed: 10                                 3 non-null      object
dtypes: object(11)
memory usage: 34.4+ KB

In [467]:
df.describe()

,Request Date,Full Name,What is the reason for Demo Cancellation?,Date of Demo,Slot no,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,399,399,399,399,399,3,3,3,3,3,3
unique,386,217,334,28,235,3,3,3,3,3,3
top,01-06-2021 10:23,Atikha,Health issue,03-06-2021,11,29-05-2021 23:04,29-05-2021 23:04,29-05-2021 23:04,29-05-2021 23:04,29-05-2021 23:04,29-05-2021 23:04
freq,3,16,12,30,15,1,1,1,1,1,1

In [468]:
temp = pd.DataFrame(index=df.columns)
temp['DataType'] = df.dtypes
temp['Null_Counts']=df.isnull().sum()/len(df)*100
temp['Unique_Counts'] = df.nunique()

In [469]:
temp

,DataType,Null_Counts,Unique_Counts
Request Date,object,0.00000,386
Full Name,object,0.00000,217
What is the reason for Demo Cancellation?,object,0.00000,334
Date of Demo,object,0.00000,28
Slot no,object,0.00000,235
Unnamed: 5,object,99.24812,3
Unnamed: 6,object,99.24812,3
Unnamed: 7,object,99.24812,3
Unnamed: 8,object,99.24812,3
Unnamed: 9,object,99.24812,3
Unnamed: 10,object,99.24812,3

In [470]:
df.drop(['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9','Unnamed: 10'],inplace = True, axis=1)

In [471]:
df.columns

Index(['Request Date', 'Full Name',
       'What is the reason for Demo Cancellation? ', 'Date of Demo',
       'Slot no'],
      dtype='object')

In [472]:
df['Request Date']=pd.to_datetime(df['Request Date'], format = '%d-%m-%Y %H:%M')

In [473]:
df['RequestDates'] = pd.to_datetime(df['Request Date']).dt.date
df['Request Time'] = pd.to_datetime(df['Request Date']).dt.time

In [474]:
df['RequestDates']=pd.to_datetime(df['RequestDates'], format = '%Y-%m-%d')

In [475]:
df['Request Time']=pd.to_datetime(df['Request Time'], format = '%H:%M:%S')
df['Request Time'] = pd.to_datetime(df['Request Time']).dt.strftime('%I:%M %p')

In [476]:
df['Date of Demo']=pd.to_datetime(df['Date of Demo'], format = '%d-%m-%Y')

In [477]:
df.dtypes

Request Date                                  datetime64[ns]
Full Name                                             object
What is the reason for Demo Cancellation?             object
Date of Demo                                  datetime64[ns]
Slot no                                               object
RequestDates                                  datetime64[ns]
Request Time                                          object
dtype: object

In [478]:
x=df['Full Name'].value_counts().reset_index()

In [479]:
x.columns=('Full Name', 'Total Count')

In [480]:
x.shape

(217, 2)

In [481]:
lst=[]
j=0
for i in x['Total Count']:
    if i>3:
        lst.append(x['Full Name'][j])
    else:
        pass
    j=j+1

In [482]:
df[df['Full Name']==lst[3]]

,Request Date,Full Name,What is the reason for Demo Cancellation?,Date of Demo,Slot no,RequestDates,Request Time
258,2021-05-30 12:13:00,Darshini Krishnamurthy,There is power cut in my place and I have lost...,2021-05-30,Slot 13 and slot 14,2021-05-30,12:13 PM
259,2021-05-30 12:24:00,Darshini Krishnamurthy,There is no power in my place and I had called...,2021-05-30,"Slot:13, slot:14",2021-05-30,12:24 PM
310,2021-06-03 10:07:00,Darshini Krishnamurthy,Not well and have high fever,2021-06-03,"11,12,13,14",2021-06-03,10:07 AM
317,2021-06-03 15:39:00,Darshini Krishnamurthy,Not well and have high fever,2021-06-03,"11,12,13,14",2021-06-03,03:39 PM
340,2021-06-04 15:04:00,Darshini Krishnamurthy,Not well and have high fever,2021-06-03,"11,12,13,14",2021-06-04,03:04 PM
344,2021-06-04 19:11:00,Darshini Krishnamurthy,Not well and have high fever,2021-06-03,"11,12,13,14",2021-06-04,07:11 PM

In [483]:
data = {'Full Name': ['Atikha', 'Jayalakshmi S', 'Arpita Bhagat', 'Darshini Krishnamurthy ', 'Amrutha A'],
        'Penalty from Emergency Leave': [0,600,200,100,100],
        "Penalty from Informed Leave": [450,100,50,0,0]}

fine = pd.DataFrame(data)

In [484]:
fine['Total Penatly'] = fine['Penalty from Emergency Leave'] + fine['Penalty from Informed Leave']

In [485]:
k=5
lst1=[]
lst2=[]
for i in x['Full Name']:
    if i not in lst:
        lst1.append(i)
        lst2.append(0)
    else:
        pass

In [486]:
data = {'Full Name': lst1,
        'Penalty from Emergency Leave': lst2,
        "Penalty from Informed Leave": lst2,
        "Total Penatly":lst2}

fine1 = pd.DataFrame(data)

In [487]:
fine

,Full Name,Penalty from Emergency Leave,Penalty from Informed Leave,Total Penatly
0,Atikha,0,450,450
1,Jayalakshmi S,600,100,700
2,Arpita Bhagat,200,50,250
3,Darshini Krishnamurthy,100,0,100
4,Amrutha A,100,0,100

In [488]:
fine1

,Full Name,Penalty from Emergency Leave,Penalty from Informed Leave,Total Penatly
0,Susan Joj,0,0,0
1,Deepak M C,0,0,0
2,Lubna Tasleem,0,0,0
3,Aruna P,0,0,0
4,Malvika Dixit,0,0,0
...,...,...,...,...
196,Allwin,0,0,0
197,Mansha Miglani,0,0,0
198,Hemavathik,0,0,0
199,gayatri deshmukh,0,0,0
200,Ashwini S Hanji,0,0,0

In [489]:
fine=pd.concat([fine,fine1]).reset_index()

In [490]:
fine.drop('index',inplace=True,axis=1)

In [492]:
fine.to_csv("fine.csv",index=False)